// Custom color palette from image, Material Design guidelines
:root {
  --color-primary: #5784D1; /* Silver Lake Blue */
  --color-primary-contrast: #ffffff;
  --color-secondary: #C8854D; /* Caramel */
  --color-secondary-contrast: #ffffff;
  --color-background: #D09D71; /* Buff */
  --color-surface: #716048; /* Coyote */
  --color-surface-contrast: #ffffff;
  --color-header-bg: #5784D1;
  --color-header-text: #ffffff;
  --color-sidebar-bg: #4B3F19; /* Drab dark brown */
  --color-sidebar-text: #ffffff;
  --color-sidebar-link: #C8854D;
  --color-content-bg: #D09D71;
  --color-text: #222326;
  --color-error: #B00020;
  --color-on-error: #ffffff;
}
